/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 9, 2016, 9:46:10 AM
    Author     : Ivan
*/

#order-box{
    margin-top: 40px;
}
body {
    /*font-family: 'Indie Flower', cursive;*/
    font-family: 'Orbitron', sans-serif;
    font-size: 1.6em;

}

.fa-btn {
    margin-right: 6px;
}